textarea {
  /*resize:fixed;*/
  font-family: monospace;
  font-size: 16px;
  width:99%;
  height:250px;
  background: #fff;
  border: 1px solid #afb2b8;
}
.left_column, .right_column {
  width: 50%;
  display: inline-block;
  border-left: 0;
  border-right:0;
}

body {
 
  background: url('http://www.icebergtees.com/wp-content/uploads/2012/02/i-speak-pig-latin.png') no-repeat bottom center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 31%;
  background-color: #CFD0D4;
}

h1 {
  text-align: center;
  color: #46923A;
}

